vendor/
composer.phar
composer.lock

.env

public/wp
public/wp-content
!public/wp-content/mu-plugins/.gitkeep
!public/wp-content/plugins/.gitkeep
!public/wp-content/themes/.gitkeep
!public/wp-content/uploads/.gitkeep
